@import 'reset';
@import'layout/all';
@import 'fonts.scss';
@import 'layout/all';
@import "layout/styleCard";

.isHidden{
  display: none;
}
.button{
  padding: 5px;
  border: 1px solid black;
  width: fit-content;
  cursor: pointer;
  border-radius:5px ;
  &:hover{
    background-color: rgba(black, 0.25);
  }
}
.errorfields{
border: solid 2px red;  

}
.title{
margin: 2.5rem;
font-size: 5em;
display: flex;
justify-content: center;
align-items: center;
}
