@import'variables';
@import 'reset';
@import'./layout/all';
@import 'fonts';
@import "../../node_modules/vanillajs-datepicker/sass/datepicker";

.isHidden{
  display: none;
}
.button{
  padding: 5px;
  border: 1px solid black;
  width: fit-content;
  cursor: pointer;
  border-radius:5px ;
  &:hover{
    background-color: rgba(black, 0.25);
  }
}
.errorfields{
  border: solid 2px red;
}

input[type='checkbox']{
background-color: red;
width: 15px;
height: 15px;
}