.action{
    .form{
        color :#0e1c27;
        padding: 75px 25px;
        position:relative;
        top:50%;
        left: 50%;
        width: 35vw;
        height: 50vh;
        transform: translateX(-50%) translateY(-2%);
        background-color: #6998AB; // A CHANGER AVEC LA COULEUR DE BACKGROUND
        border-radius: 2.5%;
        border: 2.4px solid #2C3333;
        div+div{
            margin-top: 25px;
        }
        & > div {
            display: flex;
            flex-direction: column;
            label{
                margin-bottom: 10px;
            }
        }
        .closeForm {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 10px;
            top: 10px;
            &:after{
                content: "";
                position: absolute;
                height: 25px;
                width: 3px;
                background-color: $color-dark;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%) rotate(-45deg);
            }
            &:before{
                content: "";
                position: absolute;
                height: 25px;
                width: 3px;
                background-color: $color-dark;
                left: 50%;
                top: 50%;
                transform:translateX(-50%) translateY(-50%) rotate(45deg) ;
            }
        }
    }
}